@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Inter", serif;
  font-weight: 900;
  font-size: 25px;
  color: black;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.cardsBorder {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}
h1{
  display:flex;
}
.default-mode {
  background-color: white;
}
.play-mode {
  background-color: green;
}
.appScreen{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deathCards{
  height: 100px;
  width: 75px
}
.instructions {
  font-size: 20px;
  padding: 20px;
  background-color: rgba(172, 170, 170, 0.909);
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  color: black;
}
.playBorder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sdBtn-border{
  display:flex;
  justify-content: center;
}
.homeBtn,.suddenDeathBtn{
  color: black;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-size: 25px;
  font-weight: 900;
  font-style: normal;
  border: 1px solid black;
  border-radius: 40px;
  width: 12em;
  height: 1.5em;
  margin: 1em;
  background: linear-gradient(to bottom, #f0f0f0, #d0d0d0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}
.suddenDeathBtn{
  display:flex;
  justify-content:center;
}
.homeBtn {
  position: absolute;
  left: 20px;
  top: 20px;
}
.homeBtn:hover{
  background: white;
  color: green
}
.homeBtn:active{
  transform: translateY(2px)
}
.suddenDeathBtn:hover{
  background: red;
}
.playBtn,
.instructionBtn,
.leaderboardBtn{
  font-family: inherit;
  font-optical-sizing: auto;
  font-size: 40px;
  font-weight: 900;
  font-style: normal;
  border: 1px solid black;
  border-radius: 60px;
  width: 500px;
  height: 100px;
  margin: 10px;
  background: linear-gradient(to bottom, white, white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  color:black;
}
.removeInstructionsBtn,
.backBtn {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-size: 40px;
  font-weight: inherit;
  font-style: normal;
  border: 1px solid black;
  border-radius: 60px;
  width: 500px;
  height: 50px;
  margin: 10px;
  background: linear-gradient(to bottom, white, white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  color: black;
}
.playBtn{
  animation: animationPlayBtn 2s infinite;
}
.Clock{
  width: 100%
}
.clock {
  display: flex;
  justify-content: flex-end;
}
.deathCards-border{
  display:flex;
  flex-direction:row;
}
.removeInstructionsBtn:hover,
.instructionBtn:hover,
.leaderboardBtn:hover,
.backBtn:hover{
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2),0 8px 30px rgba(0, 0, 0, 0.19);
  background: green;
  color: white;
}
@keyframes animationPlayBtn{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    background: green;
    color: white;
  }
  100% {
    transform: scale(1);
  }
}
.instructionBtn:hover{
  transform: scale(1.2);
}
.label {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.pOneBox,
.pTwoBox {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.pOneBox,
.pTwoBox{
  margin-top: 50px
}
h2{
  font-size: 1em;
}
.playerOneCards,.playerTwoCards {
  display: flex;
  padding:2px;
  height: 100px;
  object-fit: cover;
}

.deckBorder{
 display: flex;
flex-direction: row-reverse;
width: 100%;
}
.deck{
  display:flex;
}
.deckCard{
  height:200px;
}
.suddenDeath{
  font-size: 100px;
  transition: transform 0.2s;
  animation: suddenDeathAnimation 2s infinite;
}

@media screen and (max-width: 1424px) and (orientation:landscape) {
  .playBtn,
  .instructionBtn,
  .removeInstructionsBtn {
    font-size: 1em;
    width: 10em;
    height: 1.5em;
  }
  .homeBtn,
  .suddenDeathBtn {
    font-size: 1em;
    width: 10em;
    height: 1.3em;
  }
  .playerOneCards,
  .playerTwoCards {
    height: 2em;
    width: 8%;
  }
 .cardsBorder {
   width: 90%;
  overflow:hidden;
 }
 .pOneBox,
 .pTwoBox {
   margin: 1em;
   width: 80%;
 }
  .suddenDeath {
    font-size: 1.2em;
    }
  .deckCard {
    height: 3.5em;
  }
 .instructions {
    font-size: 0.5em;
    padding: 0.4em;
    width:80%;
 }
}

@media (max-width: 1480px) {
  .playBtn,
  .instructionBtn,
  .removeInstructionsBtn {
    font-size: 1.5em;
    width: 10em;
    height: 1.5em;
  }
  h2{
    font-size:1em
  }
  .homeBtn,
  .suddenDeathBtn {
    font-size: 1em;
    width: 12em;
    height: 1.5em;
  }
  .playerOneCards,
  .playerTwoCards {
    height: 4em;
    width: 5.6%;
  }
 .cardsBorder {
   width: 100%;
 }
 .pOneBox,
 .pTwoBox {
   width: 100%;
  margin-top:2em;
 }
  .suddenDeath {
      font-size: 2.8em;
    }
  .deckCard {
    height: 8em;
  }
 .instructions {
   font-size: 0.7em;
   padding: 0.4em;
 }
}
@media(max-width:1424px) and (min-width:1350px){
  .playBtn,
  .instructionBtn,
  .removeInstructionsBtn {
    font-size: 1em;
    width: 10em;
    height: 1.5em;
  }
  h2{
  font-size:0.9em;
  }
  .homeBtn,
  .suddenDeathBtn {
    font-size: 1em;
    width: 12em;
    height: 1.5em;
  }
  .playerOneCards,
  .playerTwoCards {
    height: 4em;
    width: 7%;
  }
  .cardsBorder {
    width: 99%;
  }
  .pOneBox,
  .pTwoBox {
    margin-top: 1.5em;
    width: 80%;
  }
  .suddenDeath {
    font-size: 2.8em;
  }
  .deckCard {
    height: 8em;
  }
  .instructions {
    font-size: 0.7em;
    padding: 0.4em;
  }
}
@media(max-width:1349px) and (min-width:1270px){
  .playBtn,
    .instructionBtn,
    .removeInstructionsBtn {
      font-size: 1em;
      width: 10em;
      height: 1.5em;
    }
    h2{
      font-size:0.9em;
    }
    .homeBtn,
    .suddenDeathBtn {
      font-size: 1em;
      width: 12em;
      height: 1.5em;
    }
    .playerOneCards,
    .playerTwoCards {
      height: 4em;
      width: 7.5%;
    }
    .cardsBorder {
      width: 99%;
    }
    .pOneBox,
    .pTwoBox {
      margin: 1.1em;
      width: 80%;
    }
    .suddenDeath {
      font-size: 2.8em;
    }
    .deckCard {
      height: 8em;
    }
    .instructions {
      font-size: 0.7em;
      padding: 0.4em;
    }
}
@media(max-width:1269px) and (min-width:1200px){
    .playBtn,
      .instructionBtn,
      .removeInstructionsBtn {
        font-size: 1em;
        width: 10em;
        height: 1.5em;
      }
      .homeBtn,
      .suddenDeathBtn {
        font-size: 1em;
        width: 10em;
        height: 1.3em;
      }
      h2{
        font-size:0.9em;
      }
      .playerOneCards,
      .playerTwoCards {
        height: 4em;
        width: 8%;
      }
      .cardsBorder {
        width: 99%;
      }
      .pOneBox,
      .pTwoBox {
        margin: 1.1em;
        width: 80%;
      }    
      .suddenDeath {
        font-size: 2.8em;
      }
      .deckCard {
        height: 7.7em;
      }
      .instructions {
        font-size: 0.7em;
        padding: 0.4em;
      }
}
@media(max-width:1199px){
      .playBtn,
      .instructionBtn,
      .removeInstructionsBtn {
        font-size: 1em;
        width: 10em;
        height: 1.5em;
      }
      h2{
        font-size:0.9em;
      }
      .homeBtn,
      .suddenDeathBtn {
        font-size: 1em;
        width: 10em;
        height: 1.3em;
      } 
      .playerOneCards,
      .playerTwoCards {
        height: 4em;
        width: 8.2%;
      }  
      .cardsBorder {
        width: 99%;
      } 
      .pOneBox,
      .pTwoBox {
        margin-top: 1em;
        width: 80%;
      }    
      .suddenDeath {
        font-size: 2.8em;
      }
      .deckCard {
        height: 7.7em;
      }
      .instructions {
        font-size: 0.7em;
        padding: 0.4em;
      }
}
@media(max-width:1168px){
    .playBtn,
    .instructionBtn,
    .removeInstructionsBtn{
      font-size: 1em;
      width: 10em;
      height: 1.5em;
    }
    h2{
      font-size:0.9em;
    }
    .homeBtn,
    .suddenDeathBtn{
      font-size: 1em;
      width: 10em;
      height: 1.3em;
    }
    .playerOneCards,
    .playerTwoCards{
      height: 4em;
      width: 10%;
    }
    .cardsBorder{
      width: 97%;
    }
    .pOneBox,
    .pTwoBox{
      margin: 1em;
      width: 70%;
    }
    .suddenDeath{
      font-size: 2.8em;
    }
    .deckCard{
      height: 7.7em;
    }
    .instructions{
      font-size: 0.7em;
      padding: 0.4em;
    }
}
@media(max-width:1134px){
    .playBtn,
    .instructionBtn,
    .removeInstructionsBtn {
      font-size: 1em;
      width: 10em;
      height: 1.5em;
    }
    h2 {
      font-size: 0.9em;
    }
    .homeBtn,
    .suddenDeathBtn {
      font-size: 1em;
      width: 10em;
      height: 1.3em;
    }
    .playerOneCards,
    .playerTwoCards {
      height: 4em;
      width: 9%;
    }
    .cardsBorder {
      width: 98%;
    }
   .pOneBox,
    .pTwoBox {
      margin: 1em;
      width: 78%;
    }
    .suddenDeath {
      font-size: 2.8em;
    }
    .deckCard {
      height: 7.7em;
    }
    .instructions {
      font-size: 0.7em;
      padding: 0.4em;
    }
}
@media(max-width:1099){
.playBtn,
  .instructionBtn,
  .removeInstructionsBtn {
    font-size: 1em;
    width: 10em;
    height: 1.5em;
  }
  h2 {
    font-size: 0.9em;
  }
  .homeBtn,
  .suddenDeathBtn {
    font-size: 1em;
    width: 10em;
    height: 1.3em;
  }
  .playerOneCards,
  .playerTwoCards {
    height: 4em;
    width: 8.7%;
  }
  .cardsBorder {
    width: 99%;
  }
  .pOneBox,
  .pTwoBox {
    margin: 1em;
    width: 80%;
  }
  .suddenDeath {
    font-size: 2.8em;
  }
  .deckCard {
    height: 7.7em;
  }
  .instructions {
    font-size: 0.7em;
    padding: 0.4em;
  }
}
@media(max-width:999px){
  .playBtn,
    .instructionBtn,
    .removeInstructionsBtn {
      font-size: 1em;
      width: 10em;
      height: 1.5em;
    }
    h2 {
      font-size: 0.9em;
    }
    .homeBtn,
    .suddenDeathBtn {
      font-size: 1em;
      width: 10em;
      height: 1.3em;
    }
    .playerOneCards,
    .playerTwoCards {
      height: 4em;
      width: 12%;
    }
    .cardsBorder {
      width: 97%;
    }
    .pOneBox,
    .pTwoBox {
      margin: 1e8;
      width: 70%;
    }
    .suddenDeath {
      font-size: 2.8em;
    }
    .deckCard {
      height: 7.7em;
    }
    .instructions {
      font-size: 0.7em;
      padding: 0.4em;
    }
}
@media(max-width:962px){
  .playBtn,
    .instructionBtn,
    .removeInstructionsBtn {
      font-size: 1em;
      width: 10em;
      height: 1.5em;
    }
    h2 {
      font-size: 0.9em;
    }
    .homeBtn,
    .suddenDeathBtn {
      font-size: 1em;
      width: 10em;
      height: 1.3em;
    }
    .playerOneCards,
    .playerTwoCards {
      height: 4em;
      width: 12.5%;
    } 
    .cardsBorder {
      width: 97%;
    }  
    .pOneBox,
    .pTwoBox {
      margin: 1em;
      width: 70%;
    } 
    .suddenDeath {
      font-size: 2.8em;
    }
    .deckCard {
      height: 7.7em;
    }
    .instructions {
      font-size: 0.7em;
      padding: 0.4em;
    }
}
@media(max-width:900px){
    .playBtn,
    .instructionBtn,
    .removeInstructionsBtn {
      font-size: 1em;
      width: 10em;
      height: 1.5em;
    }  
    h2 {
      font-size: 0.9em;
    }
    .homeBtn,
    .suddenDeathBtn {
      font-size: 1em;
      width: 10em;
      height: 1.3em;
    }
    .playerOneCards,
    .playerTwoCards {
      height: 4em;
      width: 13%;
    }
    .cardsBorder {
      width: 97%;
    }
    .pOneBox,
    .pTwoBox {
      margin: 1em;
      width: 70%;
    }
    .suddenDeath {
      font-size: 2.8em;
    }
    .deckCard {
      height: 7.7em;
    }
    .instructions {
      font-size: 0.7em;
      padding: 0.4em;
    }
}
@media(max-width:879px){
    .playBtn,
    .instructionBtn,
    .removeInstructionsBtn {
      font-size: 1em;
      width: 10em;
      height: 1.5em;
    }
    h2 {
      font-size: 0.9em;
    }
    .homeBtn,
    .suddenDeathBtn {
      font-size: 1em;
      width: 10em;
      height: 1.3em;
    }
    .playerOneCards,
    .playerTwoCards {
      height: 4em;
      width: 14%;
    }
    .cardsBorder {
      width: 99%;
    } 
    .pOneBox,
    .pTwoBox {
      margin: 1em;
      width: 65%;
    } 
    .suddenDeath {
      font-size: 2.8em;
    }
    .deckCard {
      height: 7.7em;
    }
    .instructions {
      font-size: 0.7em;
      padding: 0.4em;
    }
}
@media(max-width:852px){
    .playBtn,
    .instructionBtn,
    .removeInstructionsBtn {
      font-size: 1em;
      width: 10em;
      height: 1.5em;
    }
    h2 {
      font-size: 0.9em;
    }
    .homeBtn,
    .suddenDeathBtn {
      font-size: 1em;
      width: 10em;
      height: 1.3em;
    }
    .playerOneCards,
    .playerTwoCards {
      height: 4em;
      width: 15%;
    }
    .cardsBorder {
      width: 99%;
    } 
    .pOneBox,
    .pTwoBox {
      margin: 1em;
      width: 65%;
    } 
    .suddenDeath {
      font-size: 2.8em;
    }
    .deckCard {
      height: 7.7em;
    }
    .instructions {
      font-size: 0.7em;
      padding: 0.4em;
    }
}
@media (max-width: 797px) {
  .playBtn,
  .instructionBtn,
  .removeInstructionsBtn{
    font-size: 1.1em;
    width: 9em;
    height: 1.4em;
  }
  .homeBtn,
  .suddenDeathBtn {
    font-size: 1em;
    width: 10em;
    height: 1.3em;
  }
  .playerOneCards,
  .playerTwoCards {
    height: 4em;
    width:13%
  }
  .suddenDeath {
      font-size: 1.3em;
   }
  .deckCard {
    height: 6em;
  }
 .cardsBorder {
   width: 99%;
 }
 .pOneBox,
 .pTwoBox{
   margin: 1em;
   width: 76%;
 }
 .instructions {
   font-size: 0.7em;
   padding: 1em;
 }
}
/*Safari screen orientation*/
@media screen and (max-width: 668px) and (orientation: landscape) {
    .playBtn,
    .instructionBtn,
    .removeInstructionsBtn {
      font-size: 1.1em;
      width: 9em;
      height: 1.4em;
    }
    .homeBtn,
    .suddenDeathBtn {
      font-size: 0.7em;
      width: 11em;
      height: 1.8em;
    }
    .playerOneCards,
    .playerTwoCards {
      height: 4em;
    }
    .suddenDeath {
      font-size: 1.3em;
    }
    .deckCard {
      height: 6em;
    }
    .cardsBorder {
      width: 100%;
    }
    .pOneBox,
    .pTwoBox {
      margin: 1em;
      width: 100%;
    }
    .instructions {
      font-size: 0.7em;
      padding: 1em;
    }
}
@media (max-width: 480px) {
  .playerOneCards,
  .playerTwoCards {
    height: 80px;
  }
  .homeBtn,
  .suddenDeathBtn{
    font-size: 10px;
    height: 15px;
  }
  .deckCard {
    height: 1px;
  }
    /* .playBtn,
    .instructionBtn,
    .removeInstructionsBtn {
      font-size: 15px;
      width: 200px;
      height: 25px;
      margin: 2px;
    } */
  /* .suddenDeath {
      font-size: 30px;
    }  */
  .deathCards{
    position: relative;
    height: 70px;
    width: 52.5px;
  }
 .cardsBorder {
   width: 100%;
 }

 .pOneBox,
 .pTwoBox {
   margin: 1em;
   width: 100%;
 }
.instructions {
  font-size: 0.5em;
}
}
/* Safari */
@media screen and (max-width: 480px) and (orientation: portrait) {
  .playerOneCards,
  .playerTwoCards {
    height: 2em;
    padding: .05em;
    width: 20%;
  }
  h2{
    font-size: 1em;
  }
  .homeBtn,
  .suddenDeathBtn {
    font-size: 0.7em;
    height: 1.5em;
  }
  .deckCard {
    height: 6em;
  }
 .cardsBorder {
   width: 100%; 
  }
 .pOneBox,
 .pTwoBox {
   width: 50%;
  }
  .playBtn,
  .instructionBtn,
  .removeInstructionsBtn {
    font-size: 1em;
    width: 9em;
    height: 1.5em;
    margin: 0.1em;
  }
  .suddenDeath {
    font-size: 1em;
  }
.instructions {
  font-size: 0.5em;
}
}
/*Edge*/
@media screen and (max-width: 1424px) and (orientation: portrait) {
  .playerOneCards,
  .playerTwoCards {
    height:2.5em;
    padding: .05em;
    width: 30%;
  }
  h2{
    font-size: 1em;
  }
  .homeBtn,
  .suddenDeathBtn {
    font-size: 0.7em;
    height: 1.5em;
  }
  .deckCard {
    height: 4em;
  }

 .cardsBorder {
   width: 95%;
 }
 .pOneBox,
 .pTwoBox {
   width: 60%;
 }
  .playBtn,
  .instructionBtn,
  .removeInstructionsBtn {
    font-size: 1em;
    width: 9em;
    height: 1.5em;
    margin: 0.1em;
  }
  .suddenDeath {
    font-size: 1em;
  }
}
@media (max-width: 280px) {
  .playerOneCards,
  .playerTwoCards {
    height:0.6em;
  }
    .homeBtn,
    .suddenDeathBtn {
      font-size: 0.2em;
      height: 3em;
      width: 10em;
    }
  .deckCard{
    height: 1em;
  }
  .cardsBorder{
    width:100%;
  }
  .pOneBox,
  .pTwoBox{
    width: 50%;
    margin:1em;
  }
}
@media(max-width: 180px){
 
    .cardsBorder {
      width: 100%;
    }
  
    .pOneBox,
    .pTwoBox {
      width: 100%;
      margin: 1em;
    }
}

button{
  cursor: pointer;
}

@keyframes suddenDeathAnimation{
  0%{
    transform: scale(0.2);
  }
  100%{
    transform: scale(1.1);
    color: red;
  }
}

.playerWon,.computerWon{
  animation: animationWinner 2s infinite;
}
@keyframes animationWinner{
  0%{
    transform: scale(1)
  }
  100%{
    transform:scale(1.4);
    color: black;
  }

}
.playBorder{
  background-color: white;
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.leaderboard{
  list-style: none;
}
.leaderboard-title{
  font-size:40px;
}